body{
    display: grid;
    grid-auto-rows: 50px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(247, 242, 230);
    gap: 10px;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}


#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr;
    grid-template-areas: "pageButtons" "main_map" "content";
    display: grid;
}

#contents{
    display: grid;
    grid-template-areas: "buttonHome";
    grid-template-rows: 1fr 1fr;
    grid-area: content;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

/* #theSurvey{
    grid-area: survey;
} */

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

#pageButtons{
    grid-area: pageButton;
    display: grid;
    gap: 50px;

}

.leaflet-popup-content {
    width: 400px;
    height: auto;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

button{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color:rgb(239, 211, 176);
}

.btn {
    background-color: darkgoldenrod; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .navbar {
    overflow: hidden;
    background-color: darkgoldenrod;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: auto;
    margin-bottom: 15px;

  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  