body{
    display: grid;
    grid-auto-rows: 50px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: white;
    gap: 10px;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
}


#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#contents{
    display: grid;
    grid-template-areas: "buttonHome" "responses";
    grid-template-rows: 1fr 2fr;
    grid-area: content;
}

#the_map{
    height:auto;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey;
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}


.leaflet-popup-content {
    width: 400px;
    height: auto;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

button{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color:rgb(239, 211, 176);
}

.btn {
    background-color: darkgoldenrod; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }
  
  