body{
    display: grid;
    grid-auto-rows: 50px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(247, 242, 230);
    gap: 10px;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
    display: grid;
    height: 500px;
}

#contents{
    display: grid;
    grid-template-areas: "survey";
    grid-template-rows: 1fr;
    grid-area: content;
}


#theSurvey{
    grid-area: survey;
}



.leaflet-popup-content {
    width: 400px;
    height: auto;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

button{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color:rgb(239, 211, 176);
}

.btn {
    background-color: darkgoldenrod; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .nav {
    overflow: hidden;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
  }
  
 